---
import type { DocsEntry } from "@/types";
import { Image } from "astro:assets";

interface Props {
  entry: DocsEntry;
}

const { entry } = Astro.props;
const { title, image, imageAlt } = entry.data;
---

<div
  class="gradient m-2 h-full rounded-lg bg-gradient-to-br pl-0 opacity-0 intersect:animate-fadeUp"
>
  <div class="glass h-full rounded-lg">
    <a
      class="group hover:opacity-100"
      href={`/docs/${entry.id.replace("/-index", "")}`}
    >
      <div class="relative overflow-hidden rounded-lg pb-9/16">
        {
          image && (
            <Image
              class="absolute h-full w-full object-cover transition-all duration-300 group-hover:scale-[105%]"
              src={image}
              alt={imageAlt}
              width={1280}
              height={720}
              loading="eager"
            />
          )
        }
        <div
          class="glass-t absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] rounded-lg px-2 py-1 text-center"
        >
          <h4 class="">
            {title}
          </h4>
        </div>
      </div>
    </a>
  </div>
</div>
