---
import Social from "@components/common/Social.astro";
---

<footer
  class="glass container opacity-0 intersect:animate-fadeUp lg:my-4 lg:rounded-lg"
>
  <div class="row flex-wrap-reverse items-center py-2 lg:py-0">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul class="space-y-1">
        <li class="m-2 inline-block">
          <a href="/terms">&copy; Frickeldave {new Date().getFullYear()}</a>
        </li>
        <li class="m-2 inline-block">
          <a href="/impressum">Impressum</a>
        </li>
        <li class="m-2 inline-block">
          <a href="/datenschutz">Datenschutz</a>
        </li>
        <!-- Version removed -->
      </ul>
    </div>
    <div
      class="flex items-center justify-center text-center lg:col-6 lg:my-0 lg:justify-end"
    >
      <Social
        links={{
          github: "https://github.com/frickeldave",
          instagram: "https://www.instagram.com/frickeldave.de",
          linkedIn: "https://www.linkedin.com/in/frickeldave",
        }}
      />
    </div>
  </div>
</footer>
