---
import Breadcrumbs from "@components/common/Breadcrumbs.astro";
import { upperHumanize } from "@lib/textConverter";

interface Props {
  title?: string;
  colorScheme?: "cyan" | "purple" | "green" | "amber" | "red";
}

const { title = "" }: Props = Astro.props;
---

<section class="flex justify-center">
  <div class="container m-2 text-center">
    <div
      class="glass intersect-no-queue rounded-lg px-8 py-6 opacity-0 intersect:animate-fadeDown"
    >
      <h1 set:text={upperHumanize(title)} />
      <Breadcrumbs className="mt-4" />
    </div>
  </div>
</section>
