---
import type { HeadingHierarchy } from "@/types/index";
import type { MarkdownHeading } from "astro";
import { createHeadingHierarchy } from "@lib/tocUtils";
import { ScrollArea } from "@components/common/shortcodes/ScrollArea";

interface Props {
  headings: MarkdownHeading[];
  tocDepth?: number;
}

const { headings, tocDepth = 3 } = Astro.props;
const heirarchy: HeadingHierarchy[] = createHeadingHierarchy(headings);
const toc = heirarchy.filter((heading) => heading.depth <= tocDepth);
---

{
  toc.length > 0 && (
    <div class="glass relative my-2 w-full rounded-lg p-4 opacity-0 intersect:animate-fadeLeft">
      <ScrollArea className="h-full" client:only="react">
        <h2 class="border-none text-2xl">Contents</h2>
        <ul class="m-0 list-none">
          {toc.map((heading) => (
            <li class={`${heading.depth === 2 ? "ml-0" : "ml-4"}`}>
              <a
                href={`#${heading.slug}`}
                class="w-full leading-none no-underline"
              >
                {heading.text}
              </a>
            </li>
          ))}
        </ul>
      </ScrollArea>
    </div>
  )
}
